<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>wechat</servlet-name>
    <servlet-class>com.dt.servlet.WechartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wechat</servlet-name>
    <url-pattern>/wechat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>my</servlet-name>
    <servlet-class>com.dt.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>my</servlet-name>
    <url-pattern>/my.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>	
  
  <servlet>
    <servlet-name>js</servlet-name>
    <servlet-class>com.dt.servlet.JsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>js</servlet-name>
    <url-pattern>/js.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>code</servlet-name>
    <servlet-class>com.dt.servlet.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>code</servlet-name>
    <url-pattern>/code.do</url-pattern>
  </servlet-mapping>
</web-app>
